header > nav {
    width: 100%;
    margin-left: auto;
    margin-right: 0%;
    font-size: 1.25rem;
}

nav > a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a > img {
    height: 2em;
    width: 2.5em;
    align-self: center;
}