:root {
    font-size: 16px;
}

html {
    --base-colour: #ffecd6;
    background-image: url(mobile_map.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

@font-face {
    font-family:Metamorphous;
    src: url(Metamorphous-Regular.ttf)
}

body {
    font-family: Metamorphous, serif;
}

img {
    height: 5%;
    width: 5%;
}