@font-face {
    font-family:Metamorphous;
    src: url(Metamorphous-Regular.ttf)
}


:root {
    font-size: 16px;
    height: 100%;
}

html {
    --base-colour: #311a0a;
    background-image: url('images/mobile_map.jpg'), url('images/tile.jpg');
    background-position: top center, center;
    background-repeat: no-repeat, repeat-y;
    background-size: contain;
    background-color: #ae8e5d;

}

body, a {
    font-family: Metamorphous, serif;
    color: var(--base-colour);
    text-decoration: none;

}
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0em auto;
    border-bottom: 2px solid var(--base-colour);
}

nav {
    display: block;
    text-align: center;
}

footer {
    border-top: 2px solid var(--base-colour);
}

@media screen and (min-width: 500px) {

    html{
        background-image: url('images/tile_widescreen.jpg');
        background-repeat: repeat;
    }
    
    header > h2 {
        margin-left: auto;
        margin-right: 0%;
        font-size: 1.25rem;
        align-self: center;
        
    }

}