figcaption {
    font-weight: bold;
    text-align: center;
    margin: 0.5em;
    font-size: large;
}

figure {
    margin: auto;
}

figure img {
    width: 95vw;
    border: 0.3em solid var(--base-colour);
}

section+section {
    border: 0.2em dotted var(--base-colour);
    border-radius: 5%;
    padding: 0.2em;
    margin-bottom: 1em;
}

section {
    background-image: url('../images/tile_empty.jpg');
}

@media screen and (min-width: 620px){
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    header > h1 {
        width: fit-content;
    }

    header > nav, nav > a {
        width: fit-content;
        margin-left: auto;
    }
    
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    section + section {
        border-radius: 0;
        width: 45%;
    }

    section + section + section + section {
        width: 95%;
    }

}