section {
    border: 0.2em dotted var(--base-colour);
    border-radius: 5%;
    padding: 0.2em;
    margin-bottom: 1em;
    background-color: var(--bg--colour);
}

h4 {
    margin-bottom: 0%;
    text-decoration: underline;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}

ul {
    border: 0.2em dotted rgb(219, 53, 53);
    background-color: rgb(117, 44, 44);
    color: rgb(215, 215, 215);
    width: fit-content;
    padding: 5%;
    margin-top: 0%;
}

img {
    width: 100%;
    opacity: 75%;
    border-radius: 10%;
}

@media screen and (min-width: 800px) {
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    header > h1 {
        width: fit-content;
    }

    header > nav, nav > a {
        width: fit-content;
        margin-left: auto;
    }

    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        width: 90%;
        margin:1% auto;
        padding: 0.5%;
        border-radius: 1%;
    }

    h3 {
        order: 1;
        width:40%;
    }
    h4 {
        order: 2;
        width: 40%;
    }

    p{
        order:3;
        width: 40%;
        align-self: center;
    }

    ul {
        order:4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        padding: 2%;
        border-radius: 10px;
    }

    section + section > h3{
        width: 100%;
        text-align: center;
    }

    img {
        order:4;
        width: 40%;
    }

}